{
  "extends": "standard",
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "io": true,
    "describe": true,
    "it": true,
    "beforeEach": true
  }
}