extends templates/layout

block content
  main.container
    h1= title
    p This is a simple jump and run game made by students.
    p The goal was to create an app while also using the Scrum method during the development process.
