extends templates/layout

block content
  main.container.clearfix
    .game-container
      canvas(width='900px' height='480px' id='background')
      canvas(width='900px' height='480px' id='game')
    #unsupported
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='js/game.min.js')