main
  padding: 1%
.box
  float: left
  width: 7.14%
  height: 70px
  border: 1px solid black
  overflow: hidden
.box:hover
    cursor: pointer
#area-grid
  padding-left: 1%
  width: 95%
  float: left
.game-objects
  width: 5%
  float: left
  img
    opacity: 0.3
    display: block
  img:hover
    opacity: 1
  img.selected
    opacity: 1
.game-object
  width: 100%
  height: auto
.controls
  padding-top: 1%
  width: 100%
.fix
  clear: both